*.ipr
*.iml
**/*.iml
**/**/*.iml
*.iws
target/
**/target/
**/**/target/
rs/rs-persistence-jpa/derby.log
scripts/logs/
target
.project
.classpath
.settings
*.iml
*.log
*.ipr
*.iws
**/.classpath
**/*.log
**/target
**/.project
**/.settings
**/*.iml
**/*.ipr
**/**/.classpath
**/**/*.log
**/*.iws
**/**/target
**/**/.project
**/**/.settings
**/**/*.iml
**/**/*.ipr
**/**/*.iws

