 {{#each users}}
    <tr data-id="{{name}}">
        <td>{{name}}</td>
        <td>
            {{#each roles}}
                <span class="label">{{name}}</span>
            {{/each}}
        </td>
        <td>
            <a class="btn btn-mini node-edit" title="Edit this entry">
                <i class="icon-edit"></i>
            </a>
            <br>
            <a href="#" class="btn btn-mini" data-confirm="Really remove user \"{{name}}\" ?">
                <i class="icon-remove" title="Remove this entry"></i>
            </a>
        </td>
    </tr>
{{/each}}