<div class="parent control-group">
    <input class="control-label" type="text" value="{{key}}" name="nodeConfiguration[{{@index}}].key">
    <div class="controls">
        <input type="text" value="{{value}}" name="nodeConfiguration[{{@index}}].value">
        <a class="btn btn-mini pull-right rm-param" href="#" title="remove item">
        	<i class="icon-remove"></i>
		</a>
    </div>
</div>