# Usage: Password for the administrator
# Default value: secret
#admin.password = secret

# Usage: Username for the administrator
# Default value: admin
#admin.username = admin

# Usage: .properties file to initialize JPA backend for the device database
devicedb.jpa.properties = 

# Usage: The password to authenticate on the DeviceDB ADMIN REST service
devicedb.remote.admin_password = 

# Usage: The URI the DeviceDB ADMIN REST service runs on
devicedb.remote.admin_uri = 

# Usage: The username to authenticate on the DeviceDB ADMIN REST service
devicedb.remote.admin_username = 

# Usage: The URI the DeviceDB REST service runs on
devicedb.remote.uri = 

# Usage: If used in the SmartSantander context: the URI of the EventBroker to connect to
# Example: tcp://lira.tlmat.unican.es:9020
devicedb.smartsantander.eventbroker.uri = 

# Usage: If used in the SmartSantander context: the ID of the TR portal server in the Resource Directory (RD)
devicedb.smartsantander.rd.portal_id = 

# Usage: If used in the SmartSantander context: the URI of the Resource Directory (RD)
devicedb.smartsantander.rd.uri = 

# Usage: The type of DeviceDB backend
# Example: IN_MEMORY/JPA/REMOTE/SMARTSANTANDER
# Default value: IN_MEMORY
#devicedb.type = IN_MEMORY

# Usage: The directory in which to save experiment outputs and events
# Example: /var/log/tr.iwsn-portal/eventstore
eventstore.path = 

# Usage: DNS-resolvable hostname on which this process and its services will be run
hostname = 

# Usage: Publicly accessible port under which this process and its services shall be available
# Example: 8888
# Default value: 8888
#port = 8888

# Usage: Additional key/value pairs to be returned by SessionManagement.getConfiguration(). Multiple comma-separated values are allowed per key.
# Example: k1=k1v1 k2=k2v1,k2v2
portal.configuration.options = 

# Usage: Port to listen on for the gateway hosts to connect to
# Example: 8880
# Default value: 8880
#portal.gateway_port = 8880

# Usage: Path to a directory which Testbed Runtime will check for plugins
portal.plugin_directory = 

# Usage: The password of the Google account to be used (only if GCAL is used)
rs.gcal.password = 

# Usage: The username of the Google account to be used (only if GCAL is used)
rs.gcal.username = 

# Usage: Persistence layer configuration .properties file
rs.jpa.properties = 

# Usage: Persistence layer to use
# Example: GCAL/JPA/IN_MEMORY/REMOTE
# Default value: IN_MEMORY
#rs.type = IN_MEMORY

# Usage: The JAAS backends configuration file (only if JAAS is used)
snaa.jaas.config_file = 

# Usage: The login module for the JAAS backend (only if JAAS is used)
# Example: edu.internet2.middleware.shibboleth.jaas.htpasswd.HtpasswdLoginModule
snaa.jaas.loginmodule = 

# Usage: The URI of the remote SNAA server (only if REMOTE is used)
# Example: http://localhost:8890/soap/v3/snaa
snaa.remote.uri = 

# Usage: The number of iterations to be run for the hash algorithm to be used with Shiro authentication and authorization backend (only if SHIRO is used)
# Example: 1000
# Default value: 1000
#snaa.shiro.hash_algorithm.iterations = 1000

# Usage: The name of the hash algorithm to be used with Shiro authentication and authorization backend (only if SHIRO is used)
# Example: SHA-512
# Default value: SHA-512
#snaa.shiro.hash_algorithm.name = SHA-512

# Usage: The JPA (Hibernate) .properties file for the Shiro authentication and authorization backend (only if SHIRO is used)
snaa.shiro.jpa.properties_file = 

# Usage: Comma-separated list of roles that shall be automatically assigned to users registering themselves
# Example: EXPERIMENTER,SERVICE_PROVIDER
# Default value: EXPERIMENTER
#snaa.shiro.user_registration.auto_roles = EXPERIMENTER

# Usage: The authentication backend of the SNAA service
# Example: DUMMY/JAAS/SHIRO/REMOTE
snaa.type = 

# Usage: The local timezone
# Default value: GMT
#timezone = GMT

# Usage: The URN prefix of this testbed (e.g. "urn:wisebed:uzl1:")
urnprefix = 

# Usage: The directory under which to find the WiseGui. If not given WiseGui will be served from a packaged internal version.
wisegui.source_dir = 

# Usage: Name of the testbed to be displayed in WiseGui frontend
# Default value: local testbed
#wisegui.testbed_name = local testbed
