# Usage: .properties file to initialize JPA backend for the device database
devicedb.jpa.properties = 

# Usage: The URI the DeviceDB REST service runs on
devicedb.remote.uri = 

# Usage: The context path on which to run the device database REST API
# Example: /rest/v1/devicedb
# Default value: /rest/v1/devicedb
#devicedb.rest_api.context_path = /rest/v1/devicedb

# Usage: The type of DeviceDB backend
# Example: IN_MEMORY/JPA
# Default value: IN_MEMORY
#devicedb.type = IN_MEMORY

# Usage: The context path on which to run the device database web frontend
# Example: /devicedb
# Default value: /devicedb
#devicedb.webapp.context_path = /devicedb

# Usage: Hostname and port on which the portal server listens for the internal network (e.g. $PORTAL_HOSTNAME:8880)
gateway.portaladdress = 

# Usage: The port for the REST API to run on (only used when --restAPI is set)
# Default value: 8080
#gateway.restapi.port = 8080

# Usage: If set to true, a REST API is started
# Default value: false
#gateway.restapi.start = false

# Usage: Port to run all services on
# Default value: 9999
#port = 9999

# Usage: The local timezone
# Default value: GMT
#timezone = GMT

# Usage: The URN prefix of this testbed (e.g. "urn:wisebed:uzl1:")
urnprefix = 
