<div class="control-group">
    <input class="control-label" type="text" value="{{key}}" name="nodeConfiguration[{{@index}}].key">
    <div class="controls">
        <input type="text" value="{{value}}" name="nodeConfiguration[{{@index}}].value">
        <a class="btn btn-mini" href="#" id="rm-param">-</a>
    </div>
</div>