Package: [[project.pathName]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-installer | openjdk-8-jre | oracle-java8-jdk, adduser
Description: [[description]]
Maintainer: bimschas@itm.uni-luebeck.de
